* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;

}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

body {
  /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; */
  font-family: 'Forum', cursive;
  font-family: 'Inter', sans-serif;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background: #0C0C0E;
  height: 90px;
}

h1 {
  color: #FFF;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  /* 166.667% */
  letter-spacing: 0.6px;

}

.nav-item {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  /* 250% */
  text-transform: capitalize;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-item:hover {
  cursor: pointer;
  color: #BB945F;
  transition: 0.5s;
}

.header-icon {
  margin-left: 40px;
}

.profile-icon:hover {
  cursor: pointer;
}

.header-nav-right {
  display: flex;
  align-items: center;
}

.welcome {
  height: 600px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%), url(/rsschool-cv/img/Welcome\ \(1\).png), no-repeat center;
  padding-top: 220px;
}


.welcome-text {
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.welcome-block {
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  background-color: #0C0C0E;
}

h2 {
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 20px;
  text-align: center;
  position: relative;
}

h2::before {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
  position: absolute;
  bottom: -20px;
  margin: auto;
  right: 0;
  left: 0;
}

.about-description {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* 200% */
  padding-top: 61px;
}

.about-image {
  display: flex;
  gap: 25px;
  padding-top: 20px;
}

.slider-image {
  width: 450px;
  height: 560px;
}

.circle {
  width: 16px;
  height: 16px;
  background-color: #0C0C0E;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.circle::after {
  position: absolute;
  content: '';
  inset: -10px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

.active {
  background-color: #BB945F;
}

.favorites {
  margin-top: 60px;
}

.favorites-text {
  padding-top: 61px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.radio {
  display: flex;
  margin-top: 40px;
  gap: 90px;
}

.radio-text {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fake {
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}

.fake::before {
  position: absolute;
  left: 3px;
  top: 3px;
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: black;
  opacity: 0;
  transition: .2s;
}

.checkbox:checked+.fake::before {
  opacity: 1;
}

.checkbox {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}

input[type="radio"]:checked+.fake+.radio-text {
  font-weight: bold;
}

.label {
  cursor: pointer;
  position: relative;
}

.label::after {
  position: absolute;
  content: '';
  inset: -5px;
}

.favorites-books {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 260px;

}

.book {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  margin-top: 40px;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.staff-picks {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  position: relative;
}

h3 {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 20px;
}

.author {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.staff-picks::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #BB945F;
  position: absolute;
  bottom: 1px;
}

.book-description {
  width: 358px;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-top: 20px;
}

.buy-button {
  width: 75px;
  height: 30px;
  margin-top: auto;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  border: 1px solid #0C0C0E;
  background-color: #fff;
}

.buy-button:hover {
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #BB945F;
  transition: 0.5s;
}

.own-button {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #BB945F;
  color: #BB945F;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  margin-top: auto;
}

.favorite-book {
  position: absolute;
  width: 200px;
  height: 300px;
  left: 390px;
  top: 255px;
}

.hidden-books {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  margin-top: 40px;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  position: relative;
  display: none;
  justify-content: space-between;
  flex-direction: column;
}